# R | Reading and Writing Data


In R, reading and writing data is a fundamental task for data analysis and manipulation. Reading data refers to the process of importing data from various file formats, databases, or online sources into R for further analysis. R provides several functions and packages to read data from CSV files, Excel spreadsheets, databases, JSON files, and more.

On the other hand, writing data involves exporting data from R to different formats or databases for storage or sharing with others. R allows users to save data in formats like CSV, Excel, R binary formats, or write directly to databases.

The ability to efficiently read and write data in R is crucial for handling datasets of various sizes and sources, enabling data scientists and analysts to perform data-driven tasks effectively. Moreover, understanding these operations is essential for data preprocessing and preparation before applying statistical analysis, machine learning, or data visualization techniques in R.

# R Working Directory and File Paths

Before we can jump in and starting loading data, we need to learn a little bit about R's working directory and file paths. When you run R, it starts in a default location in your computer's file system called the working directory. You can check your working directory with the getwd() function.

In [10]:
getwd()

[1] "/"

In R, the working directory refers to the default location on your computer where R will look for files and where it will save files unless otherwise specified. When you start an R session, the working directory is automatically set to a specific folder, which can vary depending on your R environment or configuration.

You can change your working directory by supplying a new file path in quotes to the `setwd()`.

In [15]:
setwd('/Users/hadez/Documents/Training_material/') # Set a new working directory

getwd()           # Check the working directory again

[1] "/Users/hadez/Documents/Training_material"

R provides functions to handle file paths in a platform-independent way, so your code can work seamlessly across different operating systems. The `file.path()` function is commonly used to concatenate directories and file names into a valid path, ensuring compatibility across Windows, macOS, and Linux.

Overall, understanding the concept of the working directory and file paths is crucial when working with files in R, as it allows you to effectively manage file input and output operations and ensures the proper organization and access of data within your scripts and projects.


Example of using the `file.path()` function in R:

    # Sample file path components  
    folder_name  <-  "data"  
    file_name  <-"sample_data.csv"  
    
    # Using file.path() to construct the file 
    pathfull_path  <-  file.path(folder_name,  file_name)  
    
    # Display the full file path  
    print(full_path)`

In this example, we have two variables: `folder_name` and `file_name`, representing the folder name and the file name, respectively. The `file.path()` function is used to combine these components into a full file path, considering the appropriate platform-specific separator for slashes (i.e., backslashes on Windows and forward slashes on other operating systems).

When you run this code on Windows, the output will show the file path with double backslashes (\), and on other operating systems, it will display the file path with forward slashes (/).

For example, if the folder name is "data" and the file name is "sample_data.csv," the output on Windows will be:

`"data\\sample_data.csv"`

And on other operating systems like macOS or Linux, it will be:

`"data/sample_data.csv"`

Using `file.path()` ensures that you handle file paths in a platform-independent manner, making your code more portable across different operating systems.

In [18]:
my_path <- file.path("R", "data")  # Construct path

setwd(my_path)                  # Set the working directory to the path

getwd()                         # Check the working directory again

[1] "/Users/hadez/Documents/Training_material/R/data"

If you are working in a local R environment in R Studio, you can also change the working directory under the "Session" dropdown menu. Under session select "Set working directory", "Choose Directory", navigate to the folder you want to set as your working directory and click "Select folder."

You can list the files and folders in the current working directory using the `list.files()` function.

In [22]:
list.files("../data")

[1] "train.csv"

*Note: For file paths, ".." means look one folder up from the current folder."

In [23]:
list.files("..")

 [1] "Lab-01-getting-started-in-r.ipynb"
 [2] "Lab-02-data-types-and-operations.ipynb"
 [3] "Lab-03-dataframes.ipynb"
 [4] "Lab-04-factors.ipynb"
 [5] "Lab-05-reading-and-writing-data.ipynb"
 [6] "Untitled.ipynb"
 [7] "Untitled1.ipynb"
 [8] "Untitled2.ipynb"
 [9] "Untitled3.ipynb"
[10] "control-flow.ipynb"
[11] "data"
[12] "functions.ipynb"
[13] "intro-to-r-part-13-exploring-and-preparing-data.ipynb"
[14] "load-data-into-r.ipynb"

# Read CSV and TSV Files

Data is commonly stored in simple text files consisting of values delimited (separated) by a special character. For instance, CSV files use commas as the delimiter and tab separated value files (TSV) use tabs as the delimiter.

You can use the read.csv() function to read CSV files into R. This kernel is connected to the Titanic disaster data set, so we will use read.csv() to read it into our R session.

In [24]:
# Load the titanic data
titanic <- read.csv("../data/titanic/train.csv")

head(titanic)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500       S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S
4 113803           53.1000 C123  S
5 373450            8.0500       S
6 330877            8.4583       Q

As we can see from the head output, we successfully loaded the Titanic data set. Data loaded into R via read.csv() becomes data frame.

To load tab separated values, include the sep argument and set it to the tab character "\t".

In [25]:
# This line would load the titanic data if were stored as tab separated values
titanic <- read.csv("../data/titanic/train.csv", sep="\t")

# Since the file is actually separated by commas
# Separating by tabs will result in undesired behavoir
head(titanic)

  PassengerId.Survived.Pclass.Name.Sex.Age.SibSp.Parch.Ticket.Fare.Cabin.Embarked
1 1,0,3,Braund, Mr. Owen Harris,male,22,1,0,A/5 21171,7.25,,S
2 2,1,1,Cumings, Mrs. John Bradley (Florence Briggs Thayer),female,38,1,0,PC 17599,71.2833,C85,C
3 3,1,3,Heikkinen, Miss. Laina,female,26,0,0,STON/O2. 3101282,7.925,,S
4 4,1,1,Futrelle, Mrs. Jacques Heath (Lily May Peel),female,35,1,0,113803,53.1,C123,S
5 5,0,3,Allen, Mr. William Henry,male,35,0,0,373450,8.05,,S
6 6,0,3,Moran, Mr. James,male,,0,0,330877,8.4583,,Q


The provided example demonstrates the potential issues that can arise when using incorrect parsing tools or options while loading data.

It is important to understand that the `read.csv()` function is a specialized version of the more general data reading function, `read.table()`. In essence, `read.csv()` modifies certain arguments of `read.table()` to suitably read CSV and TSV files. However, `read.table()` offers a plethora of additional arguments that can influence the data reading process. Unfortunately, covering all these arguments in detail here is impractical. Nevertheless, you can always refer to the function documentation using `?read.table` or `help(read.table)` for comprehensive information on these arguments.

# Reading Excel Files


Microsoft Excel is a widely used spreadsheet program in businesses, which stores data in its own file format with extensions .xls or .xlsx.

To import Excel data into R, a straightforward approach is to open the Excel workbook, save the data in CSV format or as a tab-delimited text file, and then utilize the `read.csv()` function in R to load the data.

Alternatively, if you wish to directly read data from .xls or .xlsx files into R, you will need to use an R package. Packages in R are extensions that expand the functionality of the base R software. The "readxl" package is specifically designed for reading Excel files. To install it, you can use the `install.packages()` function, and you will be prompted to select a web mirror (choose one close to your location).

Please be aware that some packages may have dependencies that need to be installed first before you can use them effectively.

In [34]:
install.packages(c("rJava", "xlsxjars", "xlsx", "readxl"))

also installing the dependencies ‘rematch’, ‘magrittr’, ‘pkgconfig’, ‘hms’, ‘prettyunits’, ‘R6’, ‘cellranger’, ‘tibble’, ‘cpp11’, ‘progress’


Warning message in install.packages(c("rJava", "xlsxjars", "xlsx", "readxl")):
“installation of package ‘rJava’ had non-zero exit status”
Warning message in install.packages(c("rJava", "xlsxjars", "xlsx", "readxl")):
“installation of package ‘xlsxjars’ had non-zero exit status”
Warning message in install.packages(c("rJava", "xlsxjars", "xlsx", "readxl")):
“installation of package ‘xlsx’ had non-zero exit status”
Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

In [35]:
# Load the readxl package
library("readxl")

With our new package in hand, we can use its `read.xlsx()` function to read Excel files directly. You may have noticed earlier that the input folder contained a directory called "draft2015".

In [36]:
draft <- read_excel("../data/draft-15.xlsx",  # File to read
                   1)          # Worksheet within the excel file to read

head(draft, 10)

   Player              Draft_Express CBS CBS_2 CBS_3 BleacherReport SI
1  Karl-Anthony Towns   1             1   1     1     1              1
2  Jahlil Okafor        2             2   2     2     2              2
3  Emmanuel Mudiay      7             6   6     6     7              6
4  D'Angelo Russell     3             3   4     4     3              3
5  Kristaps Porzingis   6             5   3     3     4              4
6  Mario Hezonja        4             7   8     7     6              7
7  Justise Winslow      5             4   5     5     5              5
8  Willie Cauley-Stein 13             9   7    11     9             11
9  Stanley Johnson      8             8  12     8     8             10
10 Myles Turner        12            10  13    12    11             12

## Reading Web Data

In R, accessing data from the internet opens up a vast array of information for analysis. To begin data analysis, you can obtain web data and load it into R. Websites often offer data downloads in formats like CSV, TSV, or Excel files.

The straightforward approach to using web data in R involves downloading the data to your local drive in CSV, TSV, or Excel format, then utilizing the appropriate functions discussed earlier to load the data into R. Alternatively, you can directly supply a URL to functions like read.csv() or read.table() to read data from the web. However, web data might not always be well-formatted, so some data cleaning, such as removing unnecessary titles or images, may be necessary before using it in R. Additionally, large datasets may be compressed as .zip files, requiring decompression before loading into R.

For those working in a local environment, another option for reading web data and tabular data is using the clipboard. Simply highlight the data to copy, use the copy function as usual, and then utilize the read.csv() or read.table() function with the "clipboard" argument as the data source. This approach provides a convenient way to work with tabular data directly from the web.

## Writing Data To CSV

In the course of cleaning data, data analysis and predictive modeling, you'll likely end up generating new data. You can write data in an R data frame to CSV using the write.csv() function.

In [37]:
write.csv(draft,                 # Name of variable assigned to the data       
         "draft-15-saved.csv",   # Name of the file to create to store the data
          row.names = FALSE)     # Whether to include row names in the file

Data is written to your current working directory. It's a good idea to save data after long, computationally expensive operations so that you don't lose progress or results.

# Other R Packages for Reading and Writing Data

We've covered the basics of reading and writing data with base R, but you should be aware that the default data reading and writing functions in R tend to be slow. This is not a problem for small data sets, but it can be a problem when reading or writing files with sizes of many megabytes or gigabytes. One alternative to read.csv() is the read_csv() function available in the readr package. The readr package attemps to make data reading easier and faster than base R and to correct points of contention such as loading strings as factors by default (read_csv() does not convert strings to factors).

In [39]:
install.packages(c("readr"))

also installing the dependencies ‘bit’, ‘bit64’, ‘tidyselect’, ‘withr’, ‘clipr’, ‘vroom’, ‘tzdb’


Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

In [40]:
# Load readr
library(readr)

# Read the titanic data
titanic_fast <- read_csv("../data/train.csv")
head(titanic_fast)

Rows: 891 Columns: 12
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (5): Name, Sex, Ticket, Cabin, Embarked
dbl (7): PassengerId, Survived, Pclass, Age, SibSp, Parch, Fare

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500 NA    S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250 NA    S
4 113803           53.1000 C123  S
5 373450            8.0500 NA    S
6 330877            8.4583 NA    Q

Another data reading option is the fread() function in the data.table package. This function is particularly fast, so it can be useful to use when working with large data sets that fill up most of your available memory.

In [42]:
install.packages('data.table')

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

In [43]:
library(data.table)

titanic_super_fast <- fread("../data/train.csv")
head(titanic_super_fast)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500       S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S
4 113803           53.1000 C123  S
5 373450            8.0500       S
6 330877            8.4583       Q

It should be noted that readr and data.table each read data into their own unique data structures that build upon R's base data frames. We can confirm this by checking the class of each object we loaded with the class() function.

In [44]:
class(titanic)
class(titanic_fast)
class(titanic_super_fast)

[1] "data.frame"

[1] "spec_tbl_df" "tbl_df"      "tbl"         "data.frame"

[1] "data.table" "data.frame"

These special data frames allow the packages that use them to perform additional operations that don't work on normal data frames. We won't go into more detail about them right now, but be aware that if your data is in the form of a tbl_df ("tibble") or data.table, certain functions that expect default data frames may not work properly and you may have to convert your data back into a standard data frame with as.data.frame().

In [45]:
# Convert tbl_df and data.frame back to normal data frames

class(as.data.frame(titanic_fast))
class(as.data.frame(titanic_super_fast))

[1] "data.frame"

[1] "data.frame"

Finally, the data.table package has a function called fwrite() that can write data to disk much faster than the standard write.csv() function.

In [46]:
# Save a copy of draft to csv with frwite()
fwrite(draft, "draft-15-saved2.csv")

# Wrap Up

Data comes in all sorts of formats other than the friendly ones we've discussed thus far. R has functions and packages for working with data in other common data formats like SAS, SPSS and Stata files, json, xml, html and databases.

## Exercises

To do the exercises, fork this notebook and then fill in and run the code boxes according to the exercise instructions.

### Exercise #1
Read in the titanic gender_submission.csv file and save it as "gender_sub". The list.files() function provided below shows you the file path to the proper folder.

In [48]:
list.files("../data/titanic")

gender_sub <- "Your Code Here"

head(gender_sub)

[1] "gender_submission.csv" "train.csv"

[1] "Your Code Here"

### Exercise #2
Create a new DataFrame called "no_survivors" with two columns: PassengerId and Survived. Set PassengerId equal to the PassengerId column of gender_sub and set all the values in the Survived column to 0 (indicating a prediction that no passengers survived.).

In [49]:
no_survivors <- "Your Code Here!"

### Exercise #3
Write the no_survivors data frame to a csv called "no_survivors.csv". Include the argument row.names = FALSE so that data is saved in the proper format to submit to the competition. 

After finishing this exercise and then committing this notebook, you can submit no_survivors as predictions to the Titanic competition under the "Output" tab of the kernel page. (It will not score well, feel free to give it a try!).

In [50]:
"Your Code Here!"

[1] "Your Code Here!"

## Exercise Solutions

In [51]:
# 1 

list.files("../data/titanic")

gender_sub <- read.csv("../data/titanic/gender_submission.csv")

head(gender_sub)

# 2 

# There are many ways to do this.
# Note that we did not cover this before, but setting a column equal to
# A singular value fills that entire column with that value

no_survivors <- data.frame("PassengerId" = gender_sub$PassengerId,
                           "Survived" = 0) 


# 3

write.csv(no_survivors, "no_survivors.csv", row.names = FALSE)

[1] "gender_submission.csv" "train.csv"

  PassengerId Survived
1 892         0
2 893         1
3 894         0
4 895         0
5 896         1
6 897         0