# R | Control Flow

Control flow in R refers to the mechanism of controlling the execution of statements and code blocks based on specified conditions or criteria. By employing various control structures, R allows you to make decisions, create loops, and control the flow of program execution, enabling you to build dynamic and responsive code that can handle diverse scenarios.

In R, control flow is essential for building sophisticated algorithms, performing data analysis, and writing efficient programs. It consists of several control structures that determine the order and frequency of executing code blocks based on conditions.

### Benefits of Control Flow in R:

- Enhanced Decision-Making: Control flow structures enable R programs to make informed decisions based on data, variables, or conditions, making the code more intelligent and responsive.
- Iterative Processing: Loops empower R to handle repetitive tasks, such as data manipulation, simulations, and calculations, effectively.
- Streamlined Execution: By controlling the flow of program execution, R ensures that the appropriate actions are taken based on specific circumstances, resulting in more efficient and error-resistant code.

# Conditional Statements | If, Else and Else If

Conditional statements, also known as "if-else" statements, are used to make decisions based on specific conditions. Using the `if` keyword, you can define a condition, and if it evaluates to true, the corresponding block of code is executed. If the condition is false, an alternative block of code specified by the `else` keyword is executed.

In [1]:
x <- 10         # Assign some variables
y <- 5

if              # The keyword "if" starts an if statement
(x > y)         # A logical expression follows the "if" 
{print (x)}     # Code to execute is wrapped in curly braces "{}"

[1] 10

In this case the logical expression was true--x was greater than y--so the print(x) statement was executed.

The code above breaks the if statement out across 3 lines for descriptive purposes, but in practice it is considered good style to put the if, the logical expression and the opening curly brace on the same line, the code to execute on the following lines and then the final closing brace on its own line.

In [2]:
if (x > y) {   # This is standard R style for if statements
    print(x)
}

[1] 10

If statements are often accompanied by else statements. Else statements come after if statements and allow you to execute code in the event that the logical expression of an if statement is false.

In [3]:
y <- 25         # Reassign variable y to make it larger than x

if (x > y) {    # The original if statement
    print(x)
} else {        # With a new else statement added
    print(y)
}

[1] 25

In this case, (x > y) evaluates to false so the code in the if block is skipped and the code in the else block is executed instead.

You can extend this basic if/else construct to perform multiple logical checks in a row by adding one or more "else if" statements between the opening if and the closing else. Each else if statement performs another logical check and executes its code if the check is true.

In [4]:
y <- 10

if (x > y) {                     
    print(x)
} else if (y == x) {
    print("x and y are equal")
} else {                         
    print(y)
}

[1] "x and y are equal"

# Loops

Loops in R are used to execute a set of code repeatedly based on specific conditions. R offers several types of loops, including:

-   **for loop:** Executes a block of code for each element in a sequence, such as a vector or a list.
-   **while loop:** Continues to execute a block of code as long as a specified condition remains true.

## For Loops

For loops are a programming construct that let you go through each item in a sequence and then perform some operation on each one. For instance, you could use a for loop to go through all the values in a vector and check whether each conforms to some logical expression or to print each value to the console.

In [5]:
my_sequence <- seq(0,100,10)     # Create a numeric vector

for (item in my_sequence) {     # Create a new for loop over the specified items
    print(item)                 # Code to execute
}

[1] 0
[1] 10
[1] 20
[1] 30
[1] 40
[1] 50
[1] 60
[1] 70
[1] 80
[1] 90
[1] 100

For loops support a couple of keywords that help control the flow of the loop: next and break.

The next keyword causes a for loop to skip to the next iteration of the loop.

In [6]:
for (item in my_sequence) {
    if (item < 50){        # This if statement skips items less than 50
        next
    }
    print(item)
}

[1] 50
[1] 60
[1] 70
[1] 80
[1] 90
[1] 100

The break keyword halts the execution of the loop entirely. Use break to "break out" of a loop.

In [7]:
for (item in my_sequence) {
    if (item > 50){        # Break out of the loop if item exceeds 50
        break
    }
    print(item)
}

[1] 0
[1] 10
[1] 20
[1] 30
[1] 40
[1] 50

In the for loop above, substituting the next keyword for break would actually result in the exact same output but the code would take longer to run because it would still go through each item instead of breaking out of the for loop early. It is best to break out of loops early if possible to reduce execution time.

## While Loops

While loops are similar to for loops in that they allow you to execute code over and over again. For loops execute their contents, at most, a number of iterations equal to the length of the sequence you are looping over. While loops, on the other hand, keep executing their contents as long as a certain logical expression you supply remains true.

In [8]:
x <- 5
iters <-0

while (iters < x) {     # Execute the contents as long as iters < x
    print("Study")
    iters <- iters+1    # Increment iters by 1 each time the loop executes
}

[1] "Study"
[1] "Study"
[1] "Study"
[1] "Study"
[1] "Study"

While loops can get you into trouble because they keep executing until the logical statement provided is false. If you supply a logical statement that will never become false and don't provide a way to break out of the while loop, it will run forever. For instance, if the while loop above didn't include the statement incrementing the value of iters by 1, the logical statement would never become false and the code would run forever. Infinite while loops are a common cause of program hangs and crashes.

The next and break statements work inside while loops just like they do in for loops. You can use the break statement to escape a while loop even if the logical expression you supplied is true. Consider the following while loop:

In [9]:
while (TRUE) {            # This logical expression is always true!
    print("Study")
    break                 # But we immediately break out of the loop
}

[1] "Study"

Without the break statement above, the while loop would have run forever. It is important to make sure that while loops contain a logical expression that will eventually be false or a break statement that will eventually be executed to avoid infinite loops.

Although you can use a while loop to do anything a for loop can do, it is best to use for loops whenever you want to perform an operation a specific number of times. While loops should be reserved for cases where you don't know how many times you need to execute the loop. In the context of data analysis in R, you will rarely find a situation where you have to use a while loop, since you're typically dealing with data sets of known sizes, so you can use for loops.

# Control Flow | ifelse() Function


R provides various control flow functions that facilitate flow control within expressions. For example, `ifelse()` is a vectorized version of `if-else`, which can process entire vectors and produce conditional results efficiently.

In [10]:
set.seed(12)  # Initialize the random number generator

my_vect <- runif(25, -1, 1)          # Generate some random data between -1 and 1

for (index in 1:length(my_vect) ) {   # loop through the sequence 1:25
    number <- my_vect[index]          # look up the next number using indexing
    if (number < 0) {                 # check if the number is less than 0
        my_vect[index] <- 0           # if so, set it to 0
    }
}

print (my_vect)

 [1] 0.00000000 0.63555040 0.88524346 0.00000000 0.00000000 0.00000000
 [7] 0.00000000 0.28333073 0.00000000 0.00000000 0.00000000 0.62776112
[13] 0.00000000 0.00000000 0.00000000 0.00000000 0.00000000 0.08141509
[19] 0.33135966 0.00000000 0.00000000 0.57567269 0.00000000 0.41966093
[25] 0.00000000

Using a for loop requires writing quite a bit of code and loops are not particularly fast.

Instead we could have used R's ifelse() function to the same thing in a vectorized manner. ifelse() takes a logical test as the first argument, a value to return if the test is true as the second argument and a value to return if the test is false as the third argument:

In [11]:
set.seed(12)  # Initialize the random number generator

my_vect <- runif(25, -1, 1)         # Generate new random data between -1 and 1

my_vect <-   ifelse((my_vect < 0),  # A logical test
             0,                     # Value to set if the test is true
             my_vect)               # Value to set if the test is false

print (my_vect)

 [1] 0.00000000 0.63555040 0.88524346 0.00000000 0.00000000 0.00000000
 [7] 0.00000000 0.28333073 0.00000000 0.00000000 0.00000000 0.62776112
[13] 0.00000000 0.00000000 0.00000000 0.00000000 0.00000000 0.08141509
[19] 0.33135966 0.00000000 0.00000000 0.57567269 0.00000000 0.41966093
[25] 0.00000000

Since ifelse() is a vectorized function it provides a way to quickly apply a logical test to all values in a vector, change certain values based on the test outcome and keep other values the same.

# Wrap Up

The basic control flow statements we've learned thus far: if, else and for and while loops along with the ability to store values in variables and do arithmetic computations are the basic building blocks used in every programming language. Although R and its packages provide many common functions, you may need to write your own custom functions from time to time.

## Exercises

To do the exercises, fork this notebook and then fill in and run the code boxes according to the exercise instructions.

### Exercise #1
Load the titanic training data and save it as titanic_train.

In [12]:
titanic_train <- "Your Code Here!"

# This line fills NA values for Age with 0
titanic_train$Age[is.na(titanic_train$Age)] <- 0
head(titanic_train)

ERROR: Error in `*tmp*`$Age: $ operator is invalid for atomic vectors

### Exercise #2
Write a for loop that loops through the "Age" column in titanic_train and print the age for each passenger with an age of 65 or older.

In [13]:
for ("Your Code Here!"){
    if("Your Code Here!"){
    print("Your Code Here!")
    }
}

ERROR: Error in parse(text = x, srcfile = src): <text>:1:6: unexpected string constant
1: for ("Your Code Here!"
         ^

### Exercise #3
Use ifelse() to create a new column called "elderly" in titanic_train with the value "Elderly" when Age is greater than or equal to 65 and "Not Elderly" when Age is less than 65.

In [14]:
titanic_train$elderly <- ifelse("Your Code Here!")

table(titanic_train$elderly)

Warning message in titanic_train$elderly <- ifelse("Your Code Here!"):
“Coercing LHS to a list”

< table of extent 0 >

## Exercise Solutions

In [16]:
# 1 

titanic_train <- read.csv("data/train.csv")

titanic_train$Age[is.na(titanic_train$Age)] <- 0
head(titanic_train)


# 2 

for (passenger in titanic_train$Age){
    if(passenger >= 65){
    print(passenger)
    }
}

# 3

titanic_train$elderly <- ifelse(titanic_train$Age >= 65, 
                               "Elderly",
                               "Not Elderly")

table(titanic_train$elderly)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male    0  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500       S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S
4 113803           53.1000 C123  S
5 373450            8.0500       S
6 330877            8.4583       Q

[1] 66
[1] 65
[1] 71
[1] 70.5
[1] 65
[1] 65
[1] 71
[1] 80
[1] 70
[1] 70
[1] 74

    Elderly Not Elderly
         11         880